{% extends 'shop/dashboard/base_dashboard.html' %}
{% load static %}

{% block title %}{{action}} - ToolMaster{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="container my-4">
    <h2 class="mb-4">{{ action }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Spremi</button>
        <a href="{% url 'admin_diy_list' %}" class="btn btn-secondary">Odustani</a>
    </form>
    
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.select2').select2({
        width: '50%',
        placeholder: "Odaberi alate...",
        allowClear: true,
    });
});
</script>
{% endblock %}