/* Košarica */
.cart-summary {
    background-color: #f8f9fa;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 22px;
}

.cart-summary p {
    margin: 8px 0;
}

.cart-summary .fs-5 {
    font-weight: 600;
}

.cart-table td, .cart-table th, .cart-price {
    font-size: 20px;
}

.cart-table td img {
    max-width: 60px;
}


.cart-table input[type="number"] {
    width: 80px;
}

.empty-cart-text {
    font-size: 24px;
}

/* Gumbi za ažuriranje, brisanje i povratak u trgovinu*/
.cart-btn {
    font-size: 18px;
    padding: 8px 16px;
}

.empty-cart-btn {
    font-size: 20px;
}

/* Gumb za naplatu */
.checkout-btn {
    display: block;
    width: 100%;
    background-color: #4A5D23;
    color: white;
    padding: 12px 22px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #0eb735;
}
