body {
    font-family: 'Teko', sans-serif;
}

.dashboard-wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
}

.dashboard-home {
    padding-top: 0px;
}
/* Početna stranica */

.stat-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.stat-card {
    border: 1.5px solid #4A5D23;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    transition: transform 0.2s ease;
}

.stat-card:hover {
    transform: scale(1.03);
}

.stat-header {
    background-color: #4A5D23;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0;
}

.stat-body {
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stat-number {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.stat-icon {
    font-size: 32px;
    color: #000;
}


/* Brze radnje */
.quick-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.quick-actions a {
    flex: 1 1 200px;
    background-color: white;
    color: #4A5D23;
    border: 2px solid #4A5D23;
    padding: 14px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.quick-actions a:hover {
    background-color: #4A5D23;
    color: white;
}

/* NAVBAR */

.custom-navbar {
    background-color: #4A5D23;
    color: white;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 8px solid #f1c40f;
    transition: all 0.3s ease;
}

.custom-navbar.scrolled {
    padding: 8px 0;
    border-bottom: 2px solid #f1c40f;
}

.navbar-container {
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    height: 26px;
    width: auto;
    display: block;
    margin-top: -4px;
    transition: all 0.3s ease;
}

.scrolled-logo {
    height: 22px;
}


.custom-navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.custom-navbar a:hover {
    color: #f1c40f;
}

.divider {
    color: white;
    font-weight: 300;
    user-select: none;
}

.logo-img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    transition: 0.3s;
}

.divider {
    color: white;
    font-weight: 300;
    user-select: none;
}



/* Stilizacija forme*/
form label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

form input,
form textarea,
form select {
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.clearable-file-input {
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

#attributes-wrapper input {
    font-size: 20px;
}



/* Select2 kod DIY forme */
.select2-container--default .select2-selection--multiple {
    font-size: 16px;
    padding: 6px;
    min-height: 50px;
    border-radius: 6px;
}


/* Stilzacija lista */

.table {
    font-size: 20px;
}

.table th {
    font-size: 20px;
    font-weight: bold;
}

.table td {
    vertical-align: middle;
}

.table .btn {
    font-size: 18px;
    padding: 6px 12px;
}

.btn.btn-success {
    font-size: 18px;
    padding: 6px 12px;
    font-weight: 600;
}

.dashboard-search-form input,
.dashboard-search-form button {
    font-size: 20px;
    padding: 4px 4px;
    border-radius: 6px;
    width: 100%;
}

.dashboard-search-form {
    gap: 10px;
}


/* Detalji narudžbe */

.order-detail-info p {
    font-size: 20px;
}

.order-status-form select.form-select {
    font-size: 18px;
    padding: 6px 30px;
}

.order-status-form button,
.order-form-back-button  {
    font-size: 20px;
    padding: 6px 8px;
}
