{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Profil - ToolMaster{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/profile.css' %}">
{% endblock %}


{% block content %}
<div class="container py-5 password-change-container">
    <h2 class="mb-4">Promjena lozinke</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-warning">Spremi novu lozinku</button>
            <a href="{% url 'user_profile' %}" class="btn btn-secondary">Odustani</a>
        </div>
    </form>
</div>
{% endblock %}
