{% extends 'shop/base.html' %}
{% load static%}

{% block title %}Profil - ToolMaster{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5 profile-edit-container">
    <h2 class="mb-4">Uredi profil</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Spremi promjene</button>
        <a href="{% url 'user_profile' %}" class="btn btn-secondary">Odustani</a>
    </form>
</div>
{% endblock %}
